@import '~bootstrap/dist/css/bootstrap.min.css';
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@300;400;500&display=swap');


.oswald-300 {
    font-family: 'Oswald', sans-serif;
    font-weight: 300;
}

.oswald-400 {
    font-family: 'Oswald', sans-serif;
    font-weight: 400;
}

.oswald-500 {
    font-family: 'Oswald', sans-serif;
    font-weight: 500;
}